<% size ||= :mini %>

<% image_extension = File.extname(image.filename.to_s).downcase %>
<% if image_extension == '.jfif'%>
    <span class="image-placeholder <%= size %>"></span>
<%else%>
  <% if image_url = image.try(:url, size) %>
    <%= image_tag image_url %>
  <% else %>
    <span class="image-placeholder <%= size %>"></span>
  <% end %>
<%end%>